{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content %}
  <h1 align="center">Home page</h1>
  <h3> Getting Fortasting {{ value }}</h3>
  <form method="POST">
    <div   >
      <button type="submit" class="btn btn-primary pull-left">Get Chart</button>
    </div>
  </form>
  
  <form method="POST">
    <div class="dropdown pull-right"   >
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="dropdown_MenuButton">
        Select company
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item btn btn-primary" type="submit" value="TWTR" name="TWTR_Val">TWTR</a>
        <button class="dropdown-item btn btn-primary" type="sibmit" value="AAPL" name="AAPL_Val">AAPL</a>
      </div>
    </div>
  </form>
{% endblock %}